In [1]:
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
!ls

CleanData.csv		DataVis.ipynb		LICENSE    TopluVeriler.csv
CleanDataRegression.py	homePriceRegression.py	README.md

In [3]:
metadata = pd.read_csv("CleanData.csv")

In [5]:
metadata.shape

(20326, 9)

In [8]:
metadata.head()

,Unnamed: 0,fiyat,sehir,metrekare,Bulunduğu Kat,Oda Sayısı,Tür,Isıtma Tipi,Bina Yaş
0,0,950000,adana,120,4.0,4.0,Konut,Kombi Doğalgaz,25.0
1,1,1250000,adana,100,3.0,4.0,Konut,Kombi Doğalgaz,4.0
2,2,1750000,adana,89,4.0,3.0,Konut,Kombi Doğalgaz,0.0
3,3,1300000,adana,40,6.0,2.0,Konut,Kombi Doğalgaz,0.0
4,4,1700000,adana,140,1.0,4.0,Konut,Klimalı,7.0

In [7]:
df = pd.DataFrame(metadata)

In [9]:
uniq_sehir = df['sehir'].unique()

In [10]:
uniq_sehir.shape

(53,)

In [20]:
print(df['sehir'].value_counts()) # Her bir uniqe değer kaç kez tekrarlıyor ?

sehir
antalya           1450
adana             1449
denizli           1449
diyarbakir        1449
gaziantep         1446
kocaeli           1325
canakkale          954
eskisehir          947
bursa              847
kirklareli         659
corum              640
balikesir          545
afyonkarahisar     507
edirne             497
giresun            484
kayseri            478
hatay              446
izmir              385
duzce              366
elazig             358
kilis              332
batman             326
bolu               325
kahramanmaras      287
isparta            250
kars               215
burdur             214
amasya             208
kirikkale          167
bartin             146
kastamonu          143
erzurum            125
karabuk            121
adiyaman           116
konya              107
aksaray            106
karaman            104
bilecik             93
aydin               59
bayburt             46
gumushane           31
erzincan            29
kirsehir            25
cankiri             17
igdir               12
bitlis              10
ardahan              8
istanbul             8
artvin               5
bingol               4
agri                 4
ankara               1
hakkari              1
Name: count, dtype: int64

In [11]:
uniq_sehir

array(['adana', 'adiyaman', 'afyonkarahisar', 'agri', 'aksaray', 'amasya',
       'ankara', 'antalya', 'ardahan', 'artvin', 'aydin', 'balikesir',
       'bartin', 'batman', 'bayburt', 'bilecik', 'bingol', 'bitlis',
       'bolu', 'burdur', 'bursa', 'canakkale', 'cankiri', 'corum',
       'denizli', 'diyarbakir', 'duzce', 'edirne', 'elazig', 'erzincan',
       'erzurum', 'eskisehir', 'gaziantep', 'giresun', 'gumushane',
       'hakkari', 'hatay', 'igdir', 'isparta', 'istanbul', 'izmir',
       'kahramanmaras', 'karabuk', 'karaman', 'kars', 'kastamonu',
       'kayseri', 'kilis', 'kirikkale', 'kirklareli', 'kirsehir',
       'kocaeli', 'konya'], dtype=object)

In [14]:
uniq_m2 = df['metrekare'].unique()
uniq_m2.shape

(443,)

In [21]:
print(df['metrekare'].value_counts())

metrekare
100    1175
90     1104
120    1103
110    1039
130     942
       ...
525       1
451       1
899       1
416       1
463       1
Name: count, Length: 443, dtype: int64

In [15]:
uniq_kat = df['Bulunduğu Kat'].unique()
uniq_kat.shape

(24,)

In [22]:
print(df['Bulunduğu Kat'].value_counts())

Bulunduğu Kat
1.0     4647
2.0     3760
3.0     3012
4.0     1920
5.0     1173
6.0      573
7.0      518
8.0      257
9.0      236
10.0     172
11.0     131
12.0     104
13.0      72
14.0      60
15.0      12
18.0       6
16.0       5
17.0       5
21.0       3
26.0       1
19.0       1
30.0       1
22.0       1
Name: count, dtype: int64

In [16]:
uniq_oda = df['Oda Sayısı'].unique()
uniq_oda.shape

(12,)

In [ ]:
print(df['Oda Sayısı'].value_counts())

In [17]:
uniq_Tur = df['Tür'].unique()
uniq_Tur.shape

(1,)

In [18]:
uniq_isitma = df['Isıtma Tipi'].unique()
uniq_isitma.shape

(21,)

In [19]:
uniq_binayas = df['Bina Yaş'].unique()
uniq_binayas.shape

(9,)